* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 250%;
    color: white;
    padding: 0 0 30px 0;
    margin: 0;
}

p {
    font-size: 150%;
    line-height: 1.5;
    color: white;
    margin: 0;
}

body {
    background: linear-gradient(#615dad 20%, #ffc8da);
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    min-height: 100vw;
}

img {
    border-radius: 25px 25px 0 0;
    width: 100%;

}

/*Hlavní obsah*/

.card {
    margin: 40px 30% 60px 30%;
    text-align: center;
}

/*Povídání o piškvorkách*/

.text {
    margin: -4px 0 0 0;
    padding: 30px 10% 30px 10%;
    background-color: #283e50;

}

/*Tlačítka "Návod" a "Hrát"*/

.buttons {
    display: flex;
    flex-direction: column;

}

a {
    font-size: 1.2em;
    line-height: 1.5;
    color: white;
    border: none;
    text-decoration: none;
    padding: 10px 0 10px 0;
    display: block;
}

.rules {
    background-color: #1fcca4;
    border-bottom: 0.2rem solid #283e50;
}

.rules a:hover {
    background: #1cbb96;
}

.play {
    background-color: #0197f6;
}

.play a:hover {
    background-color: #0090e9;
}

/*HRA**********************************/

body.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    max-width: 80%;
    margin: 0 auto;
    min-height: 100vh;
}

/*Hlavička*/

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 0.6rem;
    width: 50vw;
}

.buttons_title {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/*"Hraje:kroužek"*/

.player {
    display: flex;
}

.player_title {
    color: #ffffff;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.circle {
    height: 20px;
    width: 20px;
    border-radius: 60%;
    border: 3px solid white;
    display: inline-block;
    align-self: center;
    margin-left: 0.5rem;
}

/*Ikony "Home" a "Restart"*/

.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 117, 2);
    width: 1.9rem;
    height: 1.9rem;
    margin-right: 0.2rem;
    border-radius: 10%;
}

.home img {
    width: 1rem;
    height: 1rem;
}

.home a:hover,
.home a:focus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 179, 5);
    width: 1.9rem;
    height: 1.9rem;
    border-radius: 10%;
}

.restart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(55, 55, 243);
    width: 1.9rem;
    height: 1.9rem;
    border-radius: 10%;
}

.restart img {
    width: 1rem;
    height: 1rem;
}

.restart a:hover,
.restart a:focus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 151, 242);
    width: 1.9rem;
    height: 1.9rem;
    border-radius: 10%;
}

/*Samotné tělo hry*/

button {
    width: 5vw;
    height: 5vw;
    flex-wrap: nowrap;
    border: 1px solid black;
    border-radius: 0;
    opacity: 0.3;
}

.piskvorky {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.game_button {
    flex: 0 0 10%;
    border: 1px solid black;
    opacity: 50%;
    cursor: pointer;
    padding: 0;
}

.game_button:after {
    content: '';
    display: block;
    padding-top: 100%;
}

.game_button:hover {
    background-color: white;
    opacity: 70%;
}

.game_button:focus {
    background-color: white;
    opacity: 70%;
}
