* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 230%;
    color: white;
    padding: 0 0 30px 0;
    margin: 0;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: white;
    margin: 0;
}

body {
    background: linear-gradient(#615dad 55%, #ffc8da);
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    min-height: 100vw;
}

img {
    border-radius: 25px 25px 0 0;
    width: 100%;

}

.card {
    margin: 40px 36% 60px 36%;
    text-align: center;
}

.text {
    margin: -4px 0 0 0;
    padding: 30px 10% 30px 10%;
    background-color: #283e50;

}

.buttons {
    display: flex;
    flex-direction: column;

}

a {
    font-size: 1.2rem;
    line-height: 1.5;
    color: white;
    border: none;
    text-decoration: none;
    padding: 10px 0 10px 0;
    display: block;
}

.rules {
    background-color: #1fcca4;
    border-bottom: 0.2rem solid #283e50;
}

.rules a:hover {
    background: #1cbb96;
}

.play {
    background-color: #0197f6;
}

.play a:hover {
    background-color: #0090e9;
}

/*Hra*/

body.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    max-width: 80%;
    margin: 0 auto;
    min-height: 100vh;
}

.circle {
    height: 1.9rem;
    width: auto;
    border-radius: 0;
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 117, 2);
    width: 1.9rem;
    height: 1.9rem;
    margin-right: 0.2rem;
    border-radius: 10%;
}

.home img {
    width: 1rem;
    height: 1rem;
}

.home a:hover,
.home a:focus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 179, 5);
    width: 1.9rem;
    height: 1.9rem;
    border-radius: 10%;
}

.restart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(55, 55, 243);
    width: 1.9rem;
    height: 1.9rem;
    border-radius: 10%;
}

.restart img {
    width: 1rem;
    height: 1rem;
}

.restart a:hover,
.restart a:focus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 151, 242);
    width: 1.9rem;
    height: 1.9rem;
    border-radius: 10%;
}

button {
    width: 5vw;
    height: 5vw;
    flex-wrap: nowrap;
    border: 1px solid black;
    border-radius: 0;
    opacity: 0.3;
}

.piskvorky {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 0.6rem;
    width: 50vw;
}

.buttons_title {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
